/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-rows:124px 124px 124px 124px;
}

.grid-item{
	background-color:green;
	border:solid 4px white;
	font-size:30px;
	color:white;
	padding:10px;
	
}

.item-1{
	grid-column:span 4/auto;
}
.item-2{
	grid-row:span 4/auto;
	
}

.item-4{
	grid-column:span 2/auto;
	
}
.item-5{
	grid-column:span 2/auto;
}
.item-10{
	grid-column:span 3/auto;
